body {
	background-color: #DDEBDE;
}


#clock {
	color: #454245;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	font-size: 2em;
	margin-top: 80px;
	width: 500px;
	border: #454245 solid 5px;
	text-align: center;
}

#clock h1 {
	color: #FFFFFF;
	text-align: center;
	height: 100px;
	background-color: #454245;
	-webkit-border-top-left-radius: 40px;
	-moz-border-top-left-radius: 40px;
	border-top-left-radius: 40px;
	-webkit-border-top-right-radius: 40px;
	-moz-border-top-right-radius: 40px;
	border-top-right-radius: 40px;
	top: 0;
	left: 0;
	margin-top: -5px;
}

#timer {
	font-size: 2em;
}

.button {
	width: 140px;
	height: 60px;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-color:#454245;
	color: #FFFFFF;
	cursor: pointer;
}

.button:hover {
    background: #595559;
    color: #EEEEEE;
}
